.login-card{
    position: relative;
    z-index: 3;
    width: 40%;
    margin: 0 20px;
    padding: 30px 30px 44px;
    border-radius: 1.25rem;
    background: white;
    text-align: center;
}

.login-form{
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.login-form > input, .login-form > button{
    width: 75%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.login-form > input{
    border: 2px solid #ebebeb;
    font-family: 'Gill Sans', sans-serif;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375s;
}

.login-form > input:hover{
    border: 2px solid #00b6c9;
}

.login-form > button{
    cursor: pointer;
    width: 100px;
    border-radius: 1.25rem;
    background: #00b6c9;
    color: white;
    border: 0;
    font-family: 'Gill Sans', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375s;
    margin-left: auto;
    margin-right: auto;
}

.login-form > button:hover {
    background: #00b6c9;
}

div.create a:link{
    font-size: small;
    font-family: 'Gill Sans', sans-serif;
    color: #cb6ce6;
    text-decoration: underline;
}
  
div.create a:hover{
    font-size: small;
    font-family: 'Gill Sans', sans-serif;
    color: #cb6ce6;
    text-decoration: underline;
}
  
div.create a:visited{
    font-size: small;
    font-family: 'Gill Sans', sans-serif;
    color: #cb6ce6;
    text-decoration: underline;
}

.managerCheckbox{
    font-size: small;
    font-family: 'Gill Sans', sans-serif;
    color: black;
}






body{
    background-image: url(content/blob.png);
    background-size: cover;
    text-align: center;
    font-family: Impact, sans-serif;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    color: black;
    padding-top: 7em;
}

header{
    color: white;
    background-color: black;
    position:absolute;
    top:0;
    bottom:auto;
    left:0;
    right:0;
    padding-top: 1.8em;
    padding-bottom: auto;
    width:100%;
    height:3.5em;
} 

table{
    background-color: white;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
  
th,td{
    border: 1px solid black;
}

.headerRight{
    padding-left: 70em;
}

footer{
    padding-top: 3em;
    padding-bottom: 1em;
    color: white;
}





/* mobile */
@media (max-width:600px){
    body{
        background-color: grey;
    }


}













.error{
    color: white;
    font-size: xx-large;
}